<button class="transaction-button"> Transaction </button>
<button class="comparison-button"> Comparison </button>

<%= render "transactions/show" %>

<%= render "budgets/comparison" %>

 <!-- render "budgets/piecharts" -->
