<div class="container">
<div class= "row">

  <div class="col-md-6">
  </br>
  	<div class = "panel panel-default overviewbox bankinfo">
    <%= render 'bank_accounts/show' %>
</div>
	</div>

<div class="col-md-6">
</br>
<div class = "panel panel-default overviewbox bankinfo">	
  <%= render "groups/interface" %>
</div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= render 'budgets/show' %>

  </div>
</div>
</div>	