
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--6-col">
    <%= render 'bank_accounts/show' %>
  </div>
  <div class="mdl-cell mdl-cell--6-col">
  </div>
</div>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col">
    <%= render 'budgets/show' %>
  </div>
</div>

<div>
<%= render "groups/interface" %>
</div>