<div class="mdl-grid">

  <div class="mdl-cell mdl-cell--6-col" style="border-style: solid">
    <%= render 'bank_accounts/show' %>
	</div>

<div class="mdl-cell mdl-cell--6-col" style="border-style: solid">
  <%= render "groups/interface" %>
  </div>
</div>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col" style="border-style: solid">
    <%= render 'budgets/show' %>

  </div>
</div>
