// Place all the styles related to the budgets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//=========================== Dashboard Navigation ========================\\

.dashboard-navigator {

  .dashboard-toggle-dropdown {
    width: 200px;
    height: 300px;
    display: none;
    position: absolute;
    border-radius: 2px;

    .dashboard-selector-button {
      margin: 0;
      padding: 0;
      border: 1px solid black;
      background-color: white;
      height: 25px;
      width: 100%;
    }

    .dashboard-selector-button:hover {
      background-color: red;
    }

  }

  .month-toggle-dropdown {
    width: 200px;
    height: 300px;
    display: none;
    position: absolute;
    border-radius: 2px;

    .month-selector-button {
      margin: 0;
      padding: 0;
      border: 1px solid black;
      background-color: white;
      height: 25px;
      width: 100%;
    }

    .month-selector-button:hover {
      background-color: red;
    }

  }

}


//=========================== Overview Display ========================\\

.overview {

  .progressbar-container {
  	border-radius: 10px;
  	width: 80%;
  	height: 15px;
  	position:relative;
    background-color: #f2f2f2;
    z-index: 1;

    .progressbar-filler {
      border-radius: 10px;
      height: inherit;
      position: absolute;
      z-index: 2;
    }
  }



}
