#background-img {
	background: url("bg.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;             
    width: 100%;            
    height: 820px;       
    margin-left: auto;      
    margin-right: auto;
}

.header-title {
	font-family: Raleway;
	font-size: 40px;
	text-align: center;
	padding: 100px;
}

.container {
	width: 500px;
	height: 200px;

}

#title-box{
	margin-top: 100px;
}
