// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap/theme';

.transaction-box {
  display: none;
}

.summary-box {
  display: none;
}
